{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>collecte sang</title>
</head>
<body>

    <header>
        <div class="logo">
          <img src="{% static 'images/IMG-20240505-WA0024.jpg' %}" alt="" />
        </div>
        <div>
          <nav>
            <ul>

                {% if user.is_authenticated %}
                      <li>
                      <a href="/">Home</a>
                    </li>
                    {% comment %} <li>
                      <a href="{% url 'centreCollecte' %}">Centre collecte</a>
                    </li> {% endcomment %}
                    <li>
                      <a href="/collecte/donneur">Donneur</a>
                    </li>
                    <li>
                      <a href="{% url 'receveur' %}">Receveur</a>
                    </li> 
                          
                    <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
                   
                {% else %}
                    <li><a href="{% url 'login' %}">Se connecter</a></li>
                {% endif %} 
            </ul>
          </nav>
        </div>
      </header>
  

</body>
</html>