{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>collecte sang</title>
</head>
<body>
    <header>
        <div class="logo">
          <img src="{% static 'images/IMG-20240505-WA0024.jpg' %}" alt="" />
        </div>
        <div>
          <nav>
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="{% url 'centreCollecte' %}">Centre collecte</a>
            </li>
              <li>
                <a href="/collecte/donneur">Donneur</a>
              </li>
              <li>
                <a href="{% url 'receveur' %}">Receveur</a>
              </li>
              <li>
                <a href="/collecte/login">Log in</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
     
      
</body>
</html>