{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>collecte sang</title>
    <link rel="stylesheet" href="{% static 'style.css'%}" />
  </head>
  <body>
    {% include 'header.html' %}
    <section class="hero">
      <div class="content">
        <h2>JE ME MOBILISE POUR SAUVER DES VIES</h2>
        <h1>
          Rechercher une collecte de <span> sang</span> ou un centre de
          <span> prélèvement</span> fixe
        </h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
          voluptatem, eos odio asperiores aliquid deserunt eligendi non beatae
          unde nihil? Provident eos pariatur officiis sapiente modi accusantium
          vero aut dicta?
        </p>
        <button>Savoir plus</button>
      </div>
      <div class="img">
        <img src="{% static 'images/IMG-20240505-WA0026.jpg'%}" alt="" />
      </div>
    </section>
  </body>
</html>
