*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html {
  font-size: 62.5%;
}
header {
  padding: 2rem;
  margin: 1rem 0 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7f7;
}
.log {
  margin: 0;
  padding: 0;
}
.log img {
  width: 6rem;
  border-radius: 15px;
}
nav {
  margin: 0;
  padding: 0;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-left: 4rem;
}
nav ul li a {
  text-decoration: none;
  font-size: 1.8rem;
}
nav ul li a:hover {
  color: rgba(255, 0, 0, 0.842);
}
button {
  padding: 0.8rem;
  font-size: 1.8rem;
  background-color: rgba(250, 3, 3, 0.692);
  border: none;
  outline: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  background-color: rgba(179, 34, 34, 0.623);
}
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.content h3 {
  font-size: 2.4rem;
  color: rgba(0, 0, 0, 0.651);
  margin: 3rem 0 0 3rem;
  text-transform: capitalize;
}
.content span {
  color: rgba(255, 0, 0, 0.788);
}
.content p {
  font-size: 1.8rem;
  width: 50rem;
  line-height: 1.2;
  margin-top: 3rem;
}
.img img {
  width: 23vw;
}
